*{
    color: white;
    background-color: black;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    margin: 30px auto;
}

.title {
    text-align: center;
    margin-bottom: 30px;
    font-family: 'Lobster', cursive;
    font-size: 50px;
}

.title-img img {
    border-radius: 15px;
    margin: 30px auto;
    display: flex;
}

#mid-title {
    font-family: 'Lobster', cursive;
    font-size: 30px;
}

.description {
    text-align: center;
    margin-bottom: 30px;
}

.comics-list li{
    padding: 5px;
}

#footer {
    text-align: center;
    margin-top: 50px;
}

#wiki {
    color: red;
    text-decoration: none;
}

#wiki:hover {
    color: white;
}